container {
    border: dotted 2px red;
}

body {

    background-color: silver;
  }

  em {
    color: red;
    font-style: normal;
.container {
    box-sizing: border-box;
    border: dotted 2px red
    ;
}